<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>房否后台自动化测试</title>
    {% load staticfiles %}
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="{% static 'js/Fangfull.js' %}"></script>
{#    <script type="text/javascript" src = "{% static 'js/Fangfull.js' %}"></script>#}
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
{#    <link rel="stylesheet" type="text/css" href="{% static 'Fangfull' %}">#}

</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>