{% extends 'Fangfull/base.html' %}
{% block body %}

<table class="table table-striped">
        <caption>报备客户信息设置</caption>
        <thead>
            <tr>
                <th>站点ID</th>
                <th>楼盘名称</th>
                <th>客户手机号</th>
                <th>是否变更已存在的手机号</th>
                <th>机构经纪人账号</th>
                <th>讲解员职业顾问账号</th>
                <th>案场后台客服</th>
                <th>项目总监账号</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

{% endblock %}